@tailwind base;
@tailwind components;
@tailwind utilities;

table thead .sorting_desc {
    background-image: url(/assets/images/sort_desc.png);
}

table thead .sorting_asc {
    background-image: url(/assets/images/sort_asc.png);
}

table thead .sorting {
    background-image: url(/assets/images/sort_both.png);
}

.sorting_desc,
.sorting_asc,
.sorting {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}
