<template>
    <!-- Page Header -->
    <header class="bg-white shadow dark:bg-gray-800">
        <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <h2 class="text-xl font-semibold leading-tight text-gray-800 dark:text-gray-200">{{ headerTitle }}</h2>
        </div>
    </header>
    <!--// End Page Header -->
</template>

<script>
export default {
    data(){
        return {
            headerTitle : 'Users List'
        }
    }
}
</script>