<!-- Users.Vue -->
<template>
    <div class="p-6 bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 sm:px-20">

        <!-- start container -->
        <div class="container mx-auto mt-3">
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-200">
                                <thead class="bg-gray-100 dark:bg-gray-700">
                                <tr>
                                    <th
                                        @click="sort('first_name')"
                                        v-bind:class="{
                                            'sorting_asc' : currentSortKey === 'first_name' && currentSortDir === 'asc',
                                            'sorting_desc' : currentSortKey === 'first_name' && currentSortDir === 'desc',
                                            'sorting' : currentSortKey !== 'first_name'}"
                                        scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 font-bold dark:text-gray-300 uppercase tracking-wider">
                                        First Name
                                    </th>
                                    <th
                                        @click="sort('last_name')"
                                        v-bind:class="{
                                            'sorting_asc' : currentSortKey === 'last_name' && currentSortDir === 'asc',
                                            'sorting_desc' : currentSortKey === 'last_name' && currentSortDir === 'desc',
                                            'sorting' : currentSortKey !== 'last_name'}"
                                        scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 font-bold dark:text-gray-300 uppercase tracking-wider">
                                        Last Name
                                    </th>
                                    <th
                                        @click="sort('email')"
                                        v-bind:class="{
                                            'sorting_asc' : currentSortKey === 'email' && currentSortDir === 'asc',
                                            'sorting_desc' : currentSortKey === 'email' && currentSortDir === 'desc',
                                            'sorting' : currentSortKey !== 'email'}"
                                        scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 font-bold dark:text-gray-300 uppercase tracking-wider">
                                        Email Address
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200" v-if="users.length > 0">
                                <tr v-for="user in sortedResults">
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 dark:text-gray-300">{{ user.first_name }}</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 dark:text-gray-300">{{ user.last_name }}</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 dark:text-gray-300">{{ user.email }}</div>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody v-if="users.length < 1">
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap" colspan="4">
                                        <div class="text text-center text-gray-900 dark:text-gray-300">
                                            No users record found! Are you sure you have ran migration?
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dark:bg-gray-800 bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
                <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                    <div>
                        <p class="text-sm text-gray-700 dark:text-gray-300">
                            Showing
                            <span class="font-medium">{{ first }}</span>
                            to
                            <span class="font-medium">{{ count }}</span>
                            of
                            <span class="font-medium">{{ total }}</span>
                            results
                        </p>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>


<script>
export default {
    data() {
        return {
            first: 0, // initial first item
            count: 0, // visible users count
            total: 0, // total results
            users: [], // define users holder or container
            currentSortKey : 'first_name', // default sort key
            currentSortDir : 'asc' // default sort direction
        }
    },

    created(){
        // Make a call to /users endpoint to get results
        this.axios
            .get('/users')
            .then(response => {
                // Collect response to users array object
                this.users = response.data;
                // Count users result
                this.count = this.users.length;

                // Set further values if users object isn't empty
                if (this.count > 0) {
                    this.first = 1; // just for placeholder
                    this.total = this.count; // just for placeholder
                }

            });
    },

    methods: {
        // Sort result. since it's just 10, display all
        // NOTE: ignored pagination
        sort(key){
            // if key == current sort, reverse
            if (key === this.currentSortKey) {
                this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
            }
            // set current sort key or index
            this.currentSortKey = key;
        }
    },

    computed: {
        // Computed property to sort table data
        sortedResults() {
            return this.users.sort(( a, b ) => {
                let modifier = 1; // use modifier to reverse numbers based on direction of the sort
                if ( this.currentSortDir === 'desc') modifier = -1;
                if ( a[this.currentSortKey] < b[this.currentSortKey] ) return -1 * modifier;
                if ( a[this.currentSortKey] > b[this.currentSortKey] ) return modifier;
                return 0;
            });
        }
    }
}
</script>